.items {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border: 2px solid #b1f4c9;
  border-radius: 20px;
}

.title {
  font-size: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  color: #93b8a0;
}
