.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  border: 2px solid var(--blue-100);
  border-radius: 20px;
}

.title {
  font-size: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-size: 14px;
  color: var(--blue-200);
}

.btnWrapper button {
  width: 130px;
}

@media (max-width: 767px) {
  .items {
    padding: 16px;
  }
  .title {
    font-size: 14px;
  }
  .btnWrapper button {
    width: 110px;
  }
}
