:root {
  --main-color: #2563eb;
  --color-dark: #20326b;
  --blue-100: #d5e8ff;
  --blue-200: #8e9cc4;
  --grey-50: #f8fafc;
  --grey-100: #e5e7eb;
  --grey-200: #868c98;
  --color-red: #dc2626;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: var(--color-dark);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  min-height: 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

button {
  font-weight: 500;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .container {
    padding: 16px;
  }
}
