*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

button {
  font-weight: 500;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

@media (max-width: 814px) {
  .container {
    padding: 16px;
  }
}
