.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
  border: 2px solid var(--blue-100);
  border-radius: 20px;
  box-shadow: 0px 8px 12px -2px rgba(11, 31, 94, 0.12);
}

.lists {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 14px;
}

.textWrapper {
  padding: 12px;
  font-size: 14px;
  color: var(--blue-200);
  background-color: var(--grey-50);
  border: 1px solid var(--blue-100);
  border-radius: 10px;
}

.line {
  height: 2px;
  width: 100%;
  margin: 5px 0;
  background-color: var(--blue-100);
}

.sum {
  font-weight: 700;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

@media (max-width: 767px) {
  .container {
    padding: 16px;
  }
  .btnWrapper {
    flex-direction: column;
  }
}
