.btn {
  width: 100%;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
}

.primary {
  background-color: var(--main-color);
}

.secondary {
  color: var(--main-color);
  background-color: #fff;
  border: 1px solid var(--main-color);
}

.bg-red {
  background-color: var(--color-red);
}

.btn:disabled {
  color: var(--grey-200);
  background-color: var(--grey-100);
}

@media (max-width: 767px) {
  .btn {
    font-size: 14px;
  }
}
